@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=latin-ext');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.flaticons {
    color: grey;
    font-size: 10px;
    text-decoration: none;
}

section {
    padding: 100px 0;
    /*height: 100vh;*/
}

header {
    min-height: 100vh;
    background-image: url("../images/drivermd.jpg");
    background-size: cover;
    background-position: center;
}

.header-telefon:hover,
.telefon:hover {
    text-decoration: none;
    color: #ff9c00;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
}

.page-header-header {}

.page-header h1,
.page-header h2 {
    font-size: 45px;
    text-align: center;
    font-weight: 300;
    color: white;
}

.page-header h2 {
    font-size: 42px;
}

.header-telefon {
    font-size: 45px;
    color: #ff9c00;
    font-weight: 300;
    text-align: center;
    margin: 1em 0;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.menu li {
    position: relative;
    display: flex;
    justify-content: center;
}

.menu a {
    /*color: #ff9c00;*/
    color: #bababa;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 20px;
    padding-top: 12px;
}

.menu a:hover {
    text-decoration: none;
}

.offer-link {
    color: black;
}

.page-header h1 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 7px;
}

.page-header h2 {
    border: 1px solid grey;
    margin: auto;
    width: 300px;
    padding: 11px;
    border-radius: 9px;
    font-weight: 300;
}

.page-header .container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

/*.menu-o-mnie::before,*/
/*.menu-badania:before,*/
/*.menu-lokalizacja:before,*/
/*.menu-kontakt:before,*/
/*.menu-fb:before {*/
    /*content: "";*/
    /*border-radius: 50%;*/
    /*height: 120px;*/
    /*width: 120px;*/
    /*background-color: #ff9c00;*/
    /*!*background-image: url("../images/psycho-gradient.png");*!*/
    /*position: absolute;*/
    /*background-position: center;*/
    /*background-size: 65%;*/
    /*background-repeat: no-repeat;*/
    /*bottom: 40px;*/
/*}*/

.menu a::before {
    content: "";
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-color: #ff9c00;
    display: block;
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    bottom: 40px;
    transition: none;
    margin-bottom: 16px;
}

.menu-item:hover a::before {
    transform: rotate(360deg);
    transition: 0.5s;
}

.menu-o-mnie a::before {
    background-image: url("../images/icons/woman-hair.svg");
}

.menu-badania a::before {
    background-image: url("../images/icons/calendar.svg");
}

.menu-lokalizacja a::before {
    background-image: url("../images/icons/placeholder.svg");
}

.menu-kontakt a::before {
    background-image: url("../images/icons/telefon.svg");
}

.menu-fb a::before {
    background-image: url("../images/icons/facebook.svg");
    /*margin: auto;*/
}

.menu a {
    text-align: center;
}


.o-mnie h3,
.badania h3,
.lokalizacja h3,
.kontakt h3 {
    font-size: 34px;
    color: #ff9c00;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.o-mnie h3::before,
.badania h3:before,
.lokalizacja h3:before,
.kontakt h3:before {
    content: "";
    display: block;
    border-bottom: 2px solid grey;
    width: 100%;
    position: absolute;
    top: 40px;
}


.badania {
    background-color: #f5f5f0;
}

.badania-container {
    margin-right: 0;
    margin-left: 0;
    margin-top: 40px;
    display: flex;
}

.badania-item {
    border: 2px solid grey;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex: 1 1 24%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 220px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);

    /*background-color: #ff9c00;*/
}

.badania-item :last-child {
    margin-right: 0;
}

.badania-item a {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 23px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.badania-item a:hover .badania-opis,
.badania-item a:hover h4 {
    color: #ff9c00;
    transition: 0.5s;
}



.badania h4 {
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: block;
    padding: 14px;
    font-size: 19px;
}

.badania-opis {
    color: white;
    margin-top: 8px;
    font-weight: 300;
    text-transform: lowercase;
    font-size: 15px;
    padding: 0 18px;
}

.badania-czytaj-wiecej {
    display: block;
}


/*.badania-item:hover {*/
    /*text-decoration: none;*/
    /*transform: scale(1.25);*/
/*}*/

/*.offer-link h4:hover,*/
/*.offer-link .badania-opis:hover {*/
    /*color: #ff9c00;*/
    /*transition: 0.5s all;*/
/*}*/

.lokalizacja {
    padding: 50px 0 0 0 ;
    background-color: #e0e0e0;
}



#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-top: 20px;
}

.kontakt {
    background-color: #e0e0e0;
    }

.kontakt h3 {
    padding-bottom: 60px;
}

[class^="col-4 box"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

[class^="icon-"] {
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.icon-telefon {
    background-image: url("../images/icons/telefon.svg");
}

.icon-mail {
    background-image: url("../images/icons/mail.svg");
}

.icon-adres {
    background-image: url("../images/icons/adres.svg");
}

.telefon,
.mail,
.ulica,
.kod {
    font-size: 28px;
    color: #ff9c00;
    font-weight: bold;
}

.ulica-kod {
    text-align: center;
}




@media (max-width: 1000px) {
    .kontakt .row {
        flex-direction: column;
    }

    [class^="col-4 box"] {
        flex-direction: row;
        max-width: 900px;
    }

    [class^="icon-"] {
        margin-right: 40px;
    }

    .ulica-kod {
        text-align: left;
    }

    .kontakt .row {
        margin-left: 16%;
    }

    .badania-container {
        flex-wrap: wrap;
    }

    .badania-item {

        margin: 10px;
        flex: 1 1 38%;
        height: 245px;
    }
}

@media (max-width: 770px) {
    .page-header h2 {
        margin-top: 30px;
    }

    .kontakt [class^="icon-"] {
        margin-bottom: 0;
        height: 84px;
        width: 50px;
        background-position: center;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu li {
        width: 135px;
        position: relative;
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .kontakt .row {
        margin-left: 10%;
    }
}

@media (max-width: 500px) {
    .badania-item {
        flex: 1 1 100%;
    }

    .kontakt .row {
        margin-left: 0;
    }

    .telefon,
    .mail,
    .ulica,
    .kod {
        font-size: 22px;
    }
}

@media (max-width: 320px) {
    .menu li {
        width: auto;
    }

    .telefon,
    .mail,
    .ulica,
    .kod {
        font-size: 18px;
    }
}



.test {
    height: 300px;
    width: 300px;

}











