@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,700&amp;subset=latin-ext');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Muli', sans-serif;*/
}

.flaticons {
    color: grey;
    font-size: 10px;
    text-decoration: none;
}

section {
    padding: 50px 0;
    /*height: 100vh;*/
}

footer {
    padding: 50px 0;
}

.page-header {
    min-height: 100vh;
    background-image: url("../images/drivermd.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.header-telefon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-telefon:hover,
.telefon:hover,
.mail-link:hover {
    text-decoration: none;
    color: #ff9c00;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
}


.page-header h1,
.single-offer-header h1 ,
.page-header h2,
.single-offer-header h2 {
    font-size: 45px;
    text-align: center;
    font-weight: 300;
    color: white;
}

.page-header h2, .single-offer-header h2 {
    font-size: 42px;
}

.header-telefon {
    font-size: 45px;
    color: #ff9c00;
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.menu li {
    position: relative;
    display: flex;
    justify-content: center;
    width: 20%;
}

.menu a {
    color: #bababa;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu a:hover {
    text-decoration: none;
}

.offer-link {
    color: black;
}

.page-header h1,
.single-offer-header h1 {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 7px;
}

.page-header h2, .single-offer-header h2 {
    border: 1px solid grey;
    margin: auto;
    width: 300px;
    padding: 11px;
    border-radius: 9px;
    font-weight: 300;
}

.page-header .container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu a::before {
    content: "";
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-color: #ff9c00;
    display: block;
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    transition: none;
    margin-bottom: 10px;
}

.menu-item:hover a::before {
    transform: rotate(360deg);
    transition: 0.5s;
}

.menu-o-mnie a::before {
    background-image: url("../images/icons/woman-hair.svg");
}

.menu-badania a::before {
    background-image: url("../images/icons/calendar.svg");
}

.menu-lokalizacja a::before {
    background-image: url("../images/icons/placeholder.svg");
}

.menu-kontakt a::before {
    background-image: url("../images/icons/telefon.svg");
}

.menu-fb a::before {
    background-image: url("../images/icons/facebook.svg");
    /*margin: auto;*/
}

.menu a {
    text-align: center;
}

.o-mnie p {
    font-size: 22px;
    line-height: 30px;
}


.o-mnie h3,
.badania h3,
.lokalizacja h3,
.kontakt h3 {
    font-size: 34px;
    color: #ff9c00;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.o-mnie h3::before,
.badania h3:before,
.lokalizacja h3:before,
.kontakt h3:before {
    content: "";
    display: block;
    border-bottom: 2px solid grey;
    width: 100%;
    position: absolute;
    top: 40px;
}


.badania {
    background-color: #f5f5f0;
}

.badania-container {
    margin-right: 0;
    margin-left: 0;
    margin-top: 40px;
    display: flex;
}

.badania-item {
    border: 2px solid grey;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex: 1 1 24%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 220px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);

    /*background-color: #ff9c00;*/
}

.badania-item :last-child {
    margin-right: 0;
}

.badania-item a {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 23px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.badania-item a:hover .badania-opis,
.badania-item a:hover h4 {
    color: #ff9c00;
    transition: 0.5s;
}



.badania h4 {
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: block;
    padding: 14px;
    font-size: 19px;
}

.badania-opis {
    color: white;
    margin-top: 8px;
    font-weight: 300;
    text-transform: lowercase;
    font-size: 15px;
}

.badania-item:first-child .badania-opis {
    padding: 0 22px;
}

.badania-czytaj-wiecej {
    display: block;
}


/*.badania-item:hover {*/
    /*text-decoration: none;*/
    /*transform: scale(1.25);*/
/*}*/

/*.offer-link h4:hover,*/
/*.offer-link .badania-opis:hover {*/
    /*color: #ff9c00;*/
    /*transition: 0.5s all;*/
/*}*/

.lokalizacja {
    padding: 50px 0 0 0 ;
    background-color: #e0e0e0;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-top: 20px;
}

.kontakt {
    background-color: #e0e0e0;
    }

.kontakt h3 {
    padding-bottom: 60px;
}

.kontakt-container {
    display: flex;
    justify-content: space-around;
}

.kontakt-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33.33%;
}

[class^="kontakt-container box"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

[class^="icon-"] {
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.footer-telefon-box {
    display: flex;
    flex-direction: column;
}

.footer-telefon-box .telefon {
    margin-bottom: 4px;
}

.icon-telefon {
    background-image: url("../images/icons/telefon.svg");
}

.icon-mail {
    background-image: url("../images/icons/mail.svg");
}

.icon-adres {
    background-image: url("../images/icons/adres.svg");
}

.telefon,
.mail,
.ulica,
.kod {
    font-size: 28px;
    color: #ff9c00;
    font-weight: bold;
}



.ulica-kod {
    text-align: center;
}



/*--------- sinegle-offer: ---------*/
.single-offer-container {
    width: 60%;
    margin: auto;
}

.single-offer-header {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.single-offer-header .mask {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0;
    position: relative;
}

.single-offer-header .link-back {
    display: block;
    margin: 40px 0;
}

.link-back:hover {
    text-decoration: none;
}

.single-offer-content {
    text-decoration: none;
    padding: 0;
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 50px;
}

.single-offer-content li {
    margin: 1.5em 0;
    list-style-type: none;
    position: relative;
}

.single-offer-content li::before {
    content: "";
    background-image: url(../images/icons/right-arrow.svg);
    width: 30px;
    height: 30px;
    background-position: center;
    display: block;
    background-size: contain;
    position: absolute;
    left: -37px;

}

.single-offer-content ul ul li {
    margin-left: 50px;
}


.single-offer-content ul li:last-child::after {
    content: "";
}



.single-offer-header .left-arrow {
    display: block;
    position: absolute;
    background-image: url("../images/icons/left-arrow.svg");
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 60px;
    left: 25px;
    margin: 0;
}

.single-offer-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    padding: 50px 0;
    text-align: center;
    margin-top: 1em;
}

.single-offer-footer {
    height: 90px;
    background-position: bottom;
}







/*================== media =====================*/
@media (max-width: 1000px) {
    .ulica-kod {
        text-align: left;
    }

    .badania-container {
        flex-wrap: wrap;
    }

    .badania-item {

        margin: 10px;
        flex: 1 1 38%;
        height: 245px;
    }

    .telefon, .mail, .ulica, .kod {
        color: #ff9c00;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 5px;
    }
}

@media (max-width: 770px) {
    .page-header h2, .single-offer-header h2 {
        margin-top: 30px;
    }

    .kontakt [class^="icon-"] {
        margin-bottom: 0;
        height: 84px;
        width: 50px;
        background-position: center;
        margin-right: 15px;
    }

    .menu a::before {
        width: 60px;
        height: 60px;
    }

    .kontakt-container {
        flex-direction: column;
    }

    .kontakt-item {
        flex-direction: row;
    }

    .single-offer-container {
        width: 85%;
    }

    .link-back.left-arrow {
        display: none;
    }

    .section {
        padding: 50px 0;
    }
}

@media (max-width: 517px) {
    .badania-item {
        flex: 1 1 100%;
    }

    .kontakt-container {
        margin-left: 0;
        padding: 0 12%;
    }

    .telefon,
    .mail,
    .ulica,
    .kod {
        font-size: 22px;
    }

    .menu a {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .page-header h2,
    .single-offer-header h2 {
        width: 80%;
        font-size: 30px;
    }

    .header-telefon {
        font-size: 32px;
    }

    .single-offer-header .link-back {
        width: 100%;
    }


    .telefon, .mail, .ulica, .kod {
        font-size: 15px;
    }

    .single-offer-content li::before {
        left: -15px;
        top: 7px;
        width: 15px;
        height: 15px;
    }

    .single-offer-title {
        font-size: 16px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

.menu li {
    margin-bottom: 9px;
}
    .menu li a {
        min-width: 200px;
        height: 50px;
        border-radius: 5px;
        background-color: #ff9c00;
        /*background: linear-gradient(#FF9800, #ff5e00);*/
        color: black;
        display: flex;
        flex-direction: row;
        position: relative;
        text-align: left;
        justify-content: flex-start;

    }
    .menu li a::before {
        display: block;
        position: relative;
        border-radius: 5px;
        background-position: left;
        background-color: transparent;
        margin-left: 10px;
        top: 3px;
    }
}